{%extends 'base.html'%} {% load bootstrap3 %} {% load staticfiles %} {%block content%}
<!DOCTYPE html>
<html>

<head>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.js"></script>
  <script src="http://malsup.github.com/jquery.form.js"></script>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>New Item</title>
  {{form.media}}


</head>
{%include 'nav.html'%}
<body>
  <div class="container">
    <div class="row">
      <div class="col-md-2">
      </div>
      <div class="col-md-8">
  <form  action="{%url 'new-item'%}" method="post" enctype="multipart/form-data">
    {%csrf_token%}

    {% bootstrap_form form%}
    <input type="submit" class="btn btn-success btn-lg" value="Post">
  </form>
</div>
  <div class="col-md-2">
  </div>
</div>
  </div>
</body>
</html>
<style media="screen">
  body{
    magin-top: 5%;
  }
</style>
{% endblock %}
{% block scripts %} {{block.super}}
  <script type="text/javascript" src="{%static 'js/new_item.js'%}"></script>
{% endblock %}
