{%extends 'base.html'%} {%load staticfiles%} {%block content%} {% load bootstrap3 %} {{ block.super}}
<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="{% static 'css/search.css' %}">
<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="HandheldFriendly" content="true">
<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Love+Ya+Like+A+Sister" />
<link href='https://fonts.googleapis.com/css?family=Balthazar' rel='stylesheet'>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
  <body>
    {%include 'nav.html'%}
    <div class="container">

    <div class="row">
      <div class="col-md-2">
      </div>
      <div class="col-md-8">
        {% if item_name%}
          <h2>Found {{ item_name|length }} of searched term {{message}}</h2>
        {% else %}
          <h2> Found 0 item_name for the search term {{message}}</h2>
        {% endif %}

      {% if item_name %}
        {% for result in item_name%}
      <div class="card" id="block" style="width: 18rem;">
        <a href="{%url 'index'%}item/{{result.pk}}"><img class="card-img-top" src="{{ result.item_image.url}}" alt="Card image cap"></a>
        <div class="card-body">
          <h5 class="card-title">{{result.item_name}}</h5>
          <p class="card-text">Ksh {{result.item_price}}/=</p>
        </div>
      </div>
        {% endfor %}
      {% endif %}
</div>
    </div>
    <div class="col-md-2">

    </div>
  </div>
  </body>
</html>
<style media="screen">
body{
  margin-top: 5%;
}
#block {
  width: 100px;
  float: left;
}
.card{
  padding: 15px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.card-img-top{
  height: 150px;
  width: 150px;
}

.card:hover {
    box-shadow: 0 16px 32px 0 rgba(0,0,0,0.2);
}
</style>
  {%endblock%}
