{%extends 'base.html'%} {%load staticfiles%} {%block content%} {% load bootstrap3 %} {{ block.super}}
<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="{% static 'css/index.css' %}">
<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="HandheldFriendly" content="true">
<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Love+Ya+Like+A+Sister" />
<link href='https://fonts.googleapis.com/css?family=Balthazar' rel='stylesheet'>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
  <body>
    {%include 'nav.html'%}
    <div class="container">
    <div class="row">
      <div class="col-md-2">

      </div>
      <div class="col-md-8">

 <div class="panel panel-default">
   <div class="panel-heading"><strong>{{item.item_name}} details</strong></div>
   <div class="card" style="width: 55rem;">
   <img class="img-details" src="{% if product.image %}{{ product.image.url }}{% else %}{% static "img/no_image.png" %}{% endif %}" alt="Card image cap">
     <div class="card-body">
       <h4 class="card-title">Category: <strong><a href="{{ product.category.get_absolute_url }}">{{ product.category }}</a></strong></h4>
       <h4 class="card-text">Price: <strong>Ksh{{ product.price }}/=</strong></h4>
       <h4 class="card-text">Description: <strong>{{ product.description|linebreaks }}</strong></h4>
       <h4 class="card-text">Seller Number: <strong>{{item.seller_number}}</strong></h4>
       <h4 class="card-text">Seller Location: <strong>{{item.seller_location}}</strong></h4>
       <h4 class="card-text">Posted: <strong>{{item.created_date}}</strong></h4>
     </div>
   </div>
 </div>
<hr>
    </div>
    <div class="col-md-2">

    </div>
  </div>
    </div>
  </body>
</html>
<style media="screen">
.img-details{
  width: 80%;
  padding-top: 10px;
  padding-left: 40px;
  height: 400px;
}
.card-body{
  align-items: center;
}
.panel-default {
    border-color: #000;
    width: 67%
}
.panel-heading{
  text-align: center;
}
.card-title, .card-text{
  padding-left: 40px;
}
body{
  margin-top: 5%;
}
</style>
  {%endblock%}
