<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
       <a class="navbar-brand" href="{%url 'product_list'%}">E-mart<span class="glyphicon glyphicon-shopping-cart"></span></a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <!-- <li class="active"><a href="#">Link <span class="sr-only">(current)</span></a></li>
        <li><a href="#">Link</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Separated link</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">One more separated link</a></li>
          </ul>
        </li> -->
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <form class="navbar-form" role="search" action="{% url 'search_results' %}">
        <div class="input-group">
        <input type="text" class="form-control" placeholder="Search" name="name">
        <div class="input-group-btn">
          <button class="btn btn-primary" id="search" >Search</button>
        </div>
        </div></form>

        {% if user.is_authenticated %}
  <ul class="dont" role="menu">
  <li>
    <a href="{%url 'product_list'%}"><span class="glyphicon glyphicon-home"></span> Home</a>
  </li>
  <li>
    <a href="{%url 'cart:cart_detail'%}"><span class="glyphicon glyphicon-shopping-cart"></span> Cart</a>
  </li>
  <li>
    <a href="{%url 'new-item' %}"><span class="glyphicon glyphicon-plus"></span> Post</a>
  </li>
  <li>
    <a href="{%url 'profile' user.username%}"><span class="glyphicon glyphicon-user"></span> Profile</a>
  </li>
  <li>
    <a href="{%url 'update-profile' user.id%}"><span class="glyphicon glyphicon-pencil"></span> Edit Profile</a>
  </li>
  <li>
    <!-- <a href="/accounts/password/change">Change Password</a> -->
  </li>
  <li>
    <a href="/accounts/logout"><span class="glyphicon glyphicon-log-out"></span> Logout</a>
  </li>
  </ul>
        {% else %}
        <li>
          <a  href="/accounts/login"><span class="glyphicon glyphicon-log-in"></span> Login</a>
        </li>
        <li>
          <a  href="/accounts/register"><span class="glyphicon glyphicon-pencil"></span> Sign up</a>
        </li>
        <li>
          <a  href="/accounts/login"><span class="glyphicon glyphicon-upload"></span> Post</a>
        </li>
        {% endif %}

      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
<style media="screen">
  .dont{
    display:none;
  }
@media screen and (max-width:650px){
  .dont{
    display:block;
  }
}
</style>
